In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('admission_data.csv')

df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [9]:
df = pd.read_csv('admission_data.csv',index_col=0)
df.head()

,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
GRE Score,,,,,,,
337,118,4,4.5,4.5,9.65,1,0.92
324,107,4,4.0,4.5,8.87,1,0.76
316,104,3,3.0,3.5,8.00,1,0.72
322,110,3,3.5,2.5,8.67,1,0.80
314,103,2,2.0,3.0,8.21,0,0.65

In [16]:
new_df = df.rename(columns={'GRE Score':'GRE Score', 'TOEFL Score':'TOEFL Score',
                            'University Rating':'University Rating','SOP':'Statement of Purpose',
                            'LOR ':'Letter of Recommendation','CGPA':'CGPA','Research':'Research','Chance of Admit':'Chance of Admit '})
new_df.head()

,TOEFL Score,University Rating,Statement of Purpose,Letter of Recommendation,CGPA,Research,Chance of Admit
GRE Score,,,,,,,
337,118,4,4.5,4.5,9.65,1,0.92
324,107,4,4.0,4.5,8.87,1,0.76
316,104,3,3.0,3.5,8.00,1,0.72
322,110,3,3.5,2.5,8.67,1,0.80
314,103,2,2.0,3.0,8.21,0,0.65

In [15]:
new_df.columns

Index(['TOEFL Score', 'University Rating', 'Statement of Purpose', 'LOR ',
       'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [17]:
new_df = new_df.rename(mapper=str.strip, axis='columns')

new_df.head()

,TOEFL Score,University Rating,Statement of Purpose,Letter of Recommendation,CGPA,Research,Chance of Admit
GRE Score,,,,,,,
337,118,4,4.5,4.5,9.65,1,0.92
324,107,4,4.0,4.5,8.87,1,0.76
316,104,3,3.0,3.5,8.00,1,0.72
322,110,3,3.5,2.5,8.67,1,0.80
314,103,2,2.0,3.0,8.21,0,0.65

In [18]:
df.columns

Index(['TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA', 'Research',
       'Chance of Admit '],
      dtype='object')

In [19]:
cols = list(df.columns)

cols = [x.lower().strip() for x in cols]

df.columns=cols
df.head()

,toefl score,university rating,sop,lor,cgpa,research,chance of admit
GRE Score,,,,,,,
337,118,4,4.5,4.5,9.65,1,0.92
324,107,4,4.0,4.5,8.87,1,0.76
316,104,3,3.0,3.5,8.00,1,0.72
322,110,3,3.5,2.5,8.67,1,0.80
314,103,2,2.0,3.0,8.21,0,0.65